@{
    ViewBag.Title = "Books List";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")  <!-- Include CSS files -->
    @Styles.Render("~/Content/datatables")  <!-- Include DataTables CSS -->
</head>
<body>
    <h2>@ViewBag.Title</h2>
    <input type="text" id="search" placeholder="Search" />
    <button id="searchButton">Search</button>

    <table id="shelf" class="display">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Cover</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>


    @Scripts.Render("~/bundles/jquery")  <!-- Include jQuery -->
    @Scripts.Render("~/bundles/datatables")  <!-- Include DataTables JS -->
    @Scripts.Render("~/bundles/bootstrap")  <!-- Include Bootstrap JS -->
    <script>
        $(document).ready(function () {
            var table = $('#shelf').DataTable({
                "ajax": {
                    "url": "/api/GetBooks", // Ensure the URL matches the route in your API
                    "dataSrc": function (json) {
                        return json.bookViewModels.map(function (book) {
                            return {
                                Title: book.Title,
                                Author: book.Author,
                                Category: book.Category,
                                Status: book.Status,
                                CreatedAt: book.FormattedCreatedAt,
                                UpdatedAt: book.FormattedUpdatedAt,
                                Cover: `<img src="${book.CoverPath}" alt="${book.Title} Cover" style="width:100px;height:auto;"/>`,
                                Action: book.IsRented
                                    ? 'Rented'
                                    : `<button onclick="rentBook('${book.Id}')">Rent</button>`
                            };
                        });
                    }
                },
                "columns": [
                    { "data": "Title" },
                    { "data": "Author" },
                    { "data": "Category" },
                    { "data": "Status" },
                    { "data": "CreatedAt" },
                    { "data": "UpdatedAt" },
                    { "data": "Cover" },
                    { "data": "Action" }
                ]
            });
        });
    </script>
</body>
</html>
